[Desktop Entry]
Type=Application
Name=zinterm
GenericName=SSH Client
Comment=A lightweight, low-memory cross-platform terminal emulator built with Rust + Slint
Comment[zh_CN]=轻量级、低内存的 Rust + Slint 终端模拟器
Exec=zinterm
Icon=zinterm
Terminal=false
Categories=Network;System;TerminalEmulator;Utility;
Keywords=ssh;sftp;terminal;shell;
StartupNotify=true
StartupWMClass=zinterm
